.row
  .large-12.columns
    .row
      .large-4.small-12.columns
        %img{src: asset_path("CabrioletRed.png")}/
        .hide-for-small.panel
          %h3 The speed you need
          %h5.subheader
            The best speed parts for what ever you have
        %a{href: "#"}
          .panel.callout.radius
            %h6 shopping cart
      .large-8.columns
        .row
          .large-4.small-6.columns
            %img{src: "http://placehold.it/1000x1000&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
        .row
          .large-12.columns
            .panel
              .row
                .large-2.small-6.columns
                  %img{src: asset_path("speed-bee.jpg")}/
                .large-10.small-6.columns
                  %strong
                    This Site Is Managed By
                    %hr/
                  Nicholas Busby
