- @products.each do |product|
  .large-4.small-6.columns.end
    %img{src: 'http://lorempixel.com/200/200/transport/'}/
    .panel
      %h5 #{product[1].name}
      %h6.subheader $#{number_wi
      th_precision(product[1].price, :precision => 2)}